h1{
border:3px solid #A4D1A4;
background-color:#A4D1A4;
width:1300px;
height:70px;
line-height:60px;
padding:5px 25px;
color:white;
font-family:Georgia;
font-weight:normal;
font-size:40px;
}

h2{
  font-family:Arial, Hervetica, sans serif;
  font-size:25px;
  color:#A4D1A4;
font-weight:normal;
}

.stats_box h2{
color:white;
}

li{
color:white;
font-family:Georgia;
font-weight:normal;
font-size:15px;
}

a{
  font-family:Arial, Hervetica, sans serif;
  font-size:25px;
  color:white;
font-family:Georgia;
font-weight:normal;
margin-top:0px;

}

p{
  font-family:Arial, Hervetica, sans serif;
  color:black;
  width:500px;
  font-weight:normal
  
}

.stats_box{
  border:3px solid #A4D1A4;
background-color:#A4D1A4;
width:500px;
height:500px;
border-radius:50px;
text-align:justify;
float:center;
margin-bottom:25px;
}

/*FIRST CONTAINER*/

.caja1{
width:1300px;
height:300px;
}

.caja1_imagen{
  width:100px; 
  height:100px;
  float:right;
  margin-right:400px;
  }
.caja_imagen img{
  width:350px; 
  height:150px;
}
.caja1_texto{
  float:left;
  margin-left:100px;
}

/*SECOND CONTAINER*/
.caja2{
  width:1300px;
  height:500px;
  border: solid salmon;
  }
  
  .caja2_imagen2{
    width:100px; 
    height:100px;
    float:right;
    margin-right:400px;
    }
  .caja2_imagen2 img{
    /*width:400px; 
    height:200px;*/
  }
  .caja2_texto1{
    width:1000px;
    margin-left:100px;
  }
  .caja2_texto1 p{
    width:1200px;
  }

  .caja2_texto2{
    width:300px;
    float:left;
    margin-left:100px;
  }
  

/*THIRD CONTAINER*/

  .text_box1{
    border:3px solid #A4D14A;
  width:500px;
  height:500px;
  padding:25px 15px 0px 85px;
  margin-left:125px;
  text-align:justify;
  float:center;
  margin-bottom:25px;
  }

#human_text{
  height:1000px;
  }